<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063519229055-m5q2gpfcrbc3apomt7h6l0lmtdlser30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063519229055-m5q2gpfcrbc3apomt7h6l0lmtdlser30</string>
	<key>API_KEY</key>
	<string>AIzaSyCpQuGEJiuLVRZ-d24ZgdAquTynYuCMbiI</string>
	<key>GCM_SENDER_ID</key>
	<string>1063519229055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utkusapaz</string>
	<key>PROJECT_ID</key>
	<string>flickrapp-22b24</string>
	<key>STORAGE_BUCKET</key>
	<string>flickrapp-22b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063519229055:ios:fd3f67dc21b87b942adb4a</string>
</dict>
</plist>